<!DOCTYPE html>
<html>
	<head>
		<title>Sea of Plenty</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css">
		<script type="module">
			import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
			createApp({
				data() {
					return {
						hour: {
							end: 0,
							remaining: 0,
							colour: '#333333',
						},
						fish: {
							start: 0,
							elapsed: 0,
							percent: 0,
							done: 0,
							type: 'normal',
							status: '',
							colour: '#333333',
							timing: {
								normal: {
									raw: 30 * 1000,
									undercooked: 40 * 1000,
									cooked: 80 * 1000,
									burnt: 60 * 60 * 1000,
								},
								trophy: {
									raw: 80 * 1000,
									undercooked: 90 * 1000,
									cooked: 180 * 1000,
									burnt: 60 * 60 * 1000,
								},
							},
							colours: {
								raw: '#900000',
								undercooked: '#905000',
								cooked: '#009000',
								burnt: '#000000',
							},
						},
						timer: null,
						socket: null,
						syncing: true,
					};
				},
				methods: {
					startHour() {
						this.hour.end = Date.now() + (60 * 60 * 1000);
						this.hour.remaining = 60 * 60 * 1000;
					},
					startFish(trophy) {
						this.fish.type = trophy ? 'trophy' : 'normal';
						this.fish.elapsed = 0;
						this.fish.start = Date.now();
					},
					stopFish() {
						this.fish.start = 0;
					},
					event(message) {
						if (this.socket) {
							if (message === 'hour') this.socket.send(JSON.stringify({type: 'hour'}));
							else if (message === 'fish') this.socket.send(JSON.stringify({type: 'fish', event: 'start'}));
							else if (message === 'trophy') this.socket.send(JSON.stringify({type: 'fish', event: 'start', trophy: true}));
							else if (message === 'stop') this.socket.send(JSON.stringify({type: 'fish', event: 'stop'}));
						} else {
							if (message === 'hour') this.startHour();
							else if (message === 'fish') this.startFish(false);
							else if (message === 'trophy') this.startFish(true);
							else if (message === 'stop') this.stopFish();
						}
					},
					goLive() {
						try {
							this.socket = new WebSocket("wss://demo.piesocket.com/v3/seaofplenty?api_key=VCXCEuvhGcBDP7XhiJJUDvR1e1D3eiVjgZ9VRiaV&notify_self");
						} catch (e) {
							console.error('Failed to connect to WebSocket server.');
							return;
						}
						if (!this.socket) {
							console.error('Failed to connect to WebSocket server.');
							return;
						}
						this.socket.onopen = () => {
							console.log('Connected to WebSocket');
							this.socket.send(JSON.stringify({type: 'status'}));
							setTimeout(() => this.syncing = false, 1000); // If we don't get a response in 5 seconds, assume we're the only instance
						}
						this.socket.onmessage = (event) => {
							// console.log('Received message from WebSocket');
							const message = JSON.parse(event.data);
							// console.log(message);
							if (!message || !message.type) return; // Ignore invalid messages
							if (message.type === 'hour') { // If we receive a message to start the hour countdown
								this.startHour(); // Start the hour countdown
							} else if (message.type === 'fish') { // If we receive a message to start or stop the fish cooking countdown
								if (message.event === 'start') { // If the event is to start the fish cooking countdown
									if (message.trophy) this.startFish(true); //
									else this.startFish(false);
								} else if (message.event === 'stop') {
									this.stopFish();
								}
							} else if (this.syncing && message.type === 'sync') {
								// console.log('Received Sync Data from WebSocket');
								this.syncing = false;
								if (message.hour) {
									this.hour.end = message.hour.end;
								}
								if (message.fish) {
									this.fish.start = message.fish.start;
									this.fish.type = message.fish.type;
								}
							} else if (!this.syncing && message.type === 'status') {
								// console.log('Received Sync Request from WebSocket');
								this.socket.send(JSON.stringify({type: 'sync', hour: {end: this.hour.end}, fish: {start: this.fish.start, type: this.fish.type}}));
							}
						}
						this.socket.onclose = () => {
							console.log('Disconnected from WebSocket');
							this.syncing = true; // If we've disconnected, make sure we ask for sync data when we reconnect
							setTimeout(this.goLive, 1000); // After 1 second, try to reconnect
						};
					},
				},
				mounted() {
					this.timer = setInterval(() => {
						if (this.hour.end) {
							this.hour.remaining = this.hour.end - Date.now();
							// this.colour = `#${Math.floor(78 - (this.hour.remaining / 1000 / 30)).toString(16)}${Math.floor(this.hour.remaining / 1000 / 30).toString(16)}00`;
							this.hour.colour = `rgb(${Math.floor(78 - (this.hour.remaining / 1000 / 30))}, ${Math.floor(this.hour.remaining / 1000 / 30)}, 0)`;
						}
						if (this.fish.start) {
							this.fish.elapsed = Date.now() - this.fish.start;
							this.fish.status = Object.keys(this.fish.timing[this.fish.type]).find((status) => this.fish.elapsed < this.fish.timing[this.fish.type][status]);
							this.fish.remaining = this.fish.status === 'raw' || this.fish.status === 'undercooked' ? this.fish.timing[this.fish.type]['undercooked'] - this.fish.elapsed : this.fish.timing[this.fish.type]['cooked'] - this.fish.elapsed;
							this.fish.percent = this.fish.elapsed < this.fish.timing[this.fish.type]['undercooked'] ?
								Math.floor((this.fish.elapsed / this.fish.timing[this.fish.type]['undercooked']) * 100) :
								Math.floor(((this.fish.elapsed - this.fish.timing[this.fish.type]['undercooked']) / (this.fish.timing[this.fish.type]['cooked'] - this.fish.timing[this.fish.type]['undercooked'])) * 100);
							if (this.fish.status === 'burnt') this.fish.colour = 'black';
							else if (this.fish.status === 'raw' || this.fish.status === 'undercooked') this.fish.colour = `rgb(${Math.floor(100 - (this.fish.percent * 0.5))}, ${Math.floor(this.fish.percent * 0.5)}, 0)`;
							else if (this.fish.status === 'cooked') this.fish.colour = `rgb(0, ${Math.floor(150 - (this.fish.percent))}, 0)`;
							else this.fish.colour = '#333333';
						} else {
							this.fish.elapsed = 0;
							this.fish.remaining = 0;
							this.fish.status = '';
						}
					}, 100);
				},
			}).mount('body');
		</script>
	</head>
	<body>
		<header v-show="!socket && !hour.end">
			<img src="/favicon.svg">
			<h1><a href=".">Sea of Plenty</a></h1>
		</header>
		<main>
			<div id="hour">
				<div :style="{color: hour.colour}">{{new Date(hour.remaining).toISOString().slice(11,19)}}</div>
				<button v-if="!socket" @click="goLive">Go Live</button>
				<button v-if="!hour.end" @click="event('hour')">Start Countdown</button>
			</div>
			<div id="fish" :class="fish.status" :style="{backgroundColor: fish.colour}">
				<template v-if="fish.start">
					<h3>{{fish.status.toUpperCase()}}</h3>
					<p>{{Math.abs(Math.ceil(fish.remaining / 1000))}}{{fish.status === 'raw' || fish.status === 'undercooked' ? 's until ready' : fish.status === 'cooked' ? 's until burned' : 's since burnt'}}</p>
				</template>
				<template v-else>
					<h3>Nothing Cooking</h3>
					<p>&nbsp;</p>
					</template>
			</div>
			<div id="buttons">
				<button @click="event('fish')">Cook Fish</button>
				<button @click="event('trophy')">Cook Trophy Fish</button>
				<button @click="event('stop')">Stop Cooking</button>
			</div>
		</main>
		<footer v-show="!socket && !hour.end">
			<p>Created by <a href="https://mark.honeychurch.org/">Mark Honeychurch</a></p>
		</footer>
	</body>
</html>
