<!DOCTYPE html>
<html>
	<head>
		<title>Sea of Plenty</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css">
		<script type="module">
			import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
			createApp({
				data() {
					return {
						hour: {
							end: 0,
							remaining: 0,
							colour: '#333333',
						},
						fish: {
							start: 0,
							elapsed: 0,
							remaining: 0,
							type: 'normal',
							status: '',
							timing: {
								normal: {
									raw: 30 * 1000,
									undercooked: 40 * 1000,
									cooked: 80 * 1000,
									burnt: 60 * 60 * 1000,
								},
								trophy: {
									raw: 80 * 1000,
									undercooked: 90 * 1000,
									cooked: 180 * 1000,
									burnt: 60 * 60 * 1000,
								},
							},
						},
						timer: null,
						socket: null,
					};
				},
				methods: {
					startHour() {
						this.hour.end = Date.now() + (60 * 60 * 1000);
						this.hour.remaining = 60 * 60 * 1000;
					},
					startFish(trophy) {
						this.fish.type = trophy ? 'trophy' : 'normal';
						this.fish.elapsed = 0;
						this.fish.start = Date.now();
					},
					stopFish() {
						this.fish.start = 0;
					},
					event(message) {
						if (this.socket) {
							if (message === 'hour') this.socket.send(JSON.stringify({type: 'hour'}));
							else if (message === 'fish') this.socket.send(JSON.stringify({type: 'fish', event: 'start'}));
							else if (message === 'trophy') this.socket.send(JSON.stringify({type: 'fish', event: 'start', trophy: true}));
							else if (message === 'stop') this.socket.send(JSON.stringify({type: 'fish', event: 'stop'}));
						} else {
							if (message === 'hour') this.startHour();
							else if (message === 'fish') this.startFish(false);
							else if (message === 'trophy') this.startFish(true);
							else if (message === 'stop') this.stopFish();
						}
					},
				},
				mounted() {
					this.timer = setInterval(() => {
						if (this.hour.end) {
							this.hour.remaining = this.hour.end - Date.now();
							// this.colour = `#${Math.floor(78 - (this.hour.remaining / 1000 / 30)).toString(16)}${Math.floor(this.hour.remaining / 1000 / 30).toString(16)}00`;
							this.hour.colour = `rgb(${Math.floor(78 - (this.hour.remaining / 1000 / 30))}, ${Math.floor(this.hour.remaining / 1000 / 30)}, 0`;
						}
						if (this.fish.start) {
							this.fish.elapsed = Date.now() - this.fish.start;
							this.fish.status = Object.keys(this.fish.timing[this.fish.type]).find((status) => this.fish.elapsed < this.fish.timing[this.fish.type][status]);
							this.fish.remaining = this.fish.status === 'raw' || this.fish.status === 'undercooked' ? this.fish.timing[this.fish.type]['undercooked'] - this.fish.elapsed : this.fish.timing[this.fish.type]['cooked'] - this.fish.elapsed;
						} else {
							this.fish.elapsed = 0;
							this.fish.remaining = 0;
							this.fish.status = '';
						}
					}, 100);
					try {
						this.socket = new WebSocket("wss://demo.piesocket.com/v3/seaofplenty?api_key=VCXCEuvhGcBDP7XhiJJUDvR1e1D3eiVjgZ9VRiaV&notify_self");
					} catch (e) {
						return;
					}
					if (!this.socket) return;
					this.socket.onmessage = (event) => {
						const message = JSON.parse(event.data);
						if (message.type === 'hour') {
							this.startHour();
						} else if (message.type === 'fish') {
							if (message.event === 'start') {
								if (message.trophy) this.startFish(true);
								else this.startFish(false);
							} else if (message.event === 'stop') {
								this.stopFish();
							}
						}
					}
				},
			}).mount('main');
		</script>
	</head>
	<body>
		<header>
			<h1>Sea of Plenty</h1>
		</header>
		<main>
			<div id="hour">
				<div :style="{backgroundColor: hour.colour}">{{new Date(hour.remaining).toISOString().slice(11,19)}}</div>
				<button v-if="!hour.end" @click="event('hour')">Start Countdown</button>
			</div>
			<div id="fish" :class="fish.status">
				<template v-if="fish.start">
					<h3>{{fish.status.toUpperCase()}}</h3>
					<p>{{Math.ceil(fish.remaining / 1000)}}{{fish.status === 'raw' || fish.status === 'undercooked' ? 's until ready' : 's until burned'}}</p>
				</template>
				<template v-else>
					<h3>Nothing Cooking</h3>
					<p>&nbsp;</p>
					</template>
			</div>
			<div id="buttons">
				<button @click="event('fish')">Cook Fish</button>
				<button @click="event('trophy')">Cook Trophy Fish</button>
				<button @click="event('stop')">Stop Cooking</button>
			</div>
		</main>
		<footer>
			<p>Created by <a href="https://mark.honeychurch.org/">Mark Honeychurch</a></p>
		</footer>
	</body>
</html>
